<section class='apartment'>

  <header class='header'>
    <h2>{{title}}</h2>
  </header>

  <label for="location">
    <span>Location:</span>
    <span id="location">{{apartment.location}}</span>
  </label>

  <label for="sqft">
    <span>Sqft:</span>
    <span id="sqft">{{apartment.sqft}}</span>
  </label>

  <label for="price">
    <span>Price:</span>
    <span id="price">{{apartment.price}}</span>
  </label>

  <label for="realtorName">
    <span>Realtor name:</span>
    <span id="realtorName">{{apartment.realtorName}}</span>
  </label>

  <label for="mail">
    <span>Email:</span>
    <span id="mail">{{apartment.mail}}</span>
  </label>

  <label for="phone">
    <span>Phone:</span>
    <span id="phone">{{apartment.phone}}</span>
  </label>

</section>
