<div class="jumbotron">
  <h2>{{title}}</h2>
  <p class="lead">It is graphical interface and automation tools designed to simplify the process of administrator
    web services.</p>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="apartment-details">
      <h3>Apartments</h3>
      <p>Administration of apartments. You can create
        <a routerLink='/apartments/new' routerLinkActive='active' id='apartments/new'>new apartment</a> or see the list
        of
        <a routerLink='/apartments' routerLinkActive='active' id='apartments'>apartments</a></p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="hackster-details">
      <h3>Hackster</h3>
      <p>Administration of Hackster. It is not implemented yet.</p>
    </div>

    <div class="rating-details">
      <h3>Rating</h3>
      <p>Administration of Rating. It is not implemented yet.</p>
    </div>
  </div>
</div>
